<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataStackDay1.git CoreDataStackDayOne.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>658087981C6CA7B6001CC814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>658087AF1C6CA7B7001CC814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>658087BA1C6CA7B7001CC814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
